html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

*{
    box-sizing:border-box !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
	margin: 0;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #808080;
	font-size: 15.5px;
	line-height: 25px;
	font-family: 'open sans', sans-serif;
	font-weight: 400;
	text-align:justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 300;
	line-height: 1.2;
	font-family: 'open sans', sans-serif;
}

h1{
	font-size: 28px;
	margin-bottom: 15px;
}

h2{
	font-size: 26px;
	margin-bottom: 15px;
}

h3{
	font-size: 24px;
	margin-bottom: 15px;
}

h4{
	font-size: 22px;
	margin-bottom: 10px;
}

h5{
	font-size: 20px;
	margin-bottom: 10px;
}

h6{
	font-size: 18px;
	margin-bottom: 10px;
}
p {
	margin:0 0 15px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 15px;
}

address {
	margin: 0 0 15px;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 15px;
	max-width: 100%;
	overflow: auto;
	padding: 15px;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 15px;
}

ul,
ol {
	margin: 0 0 15px 20px;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 15px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 15px 15px;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}

table {
	margin: 0 0 15px;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #0078be;
	padding: 0 20px;
    height: 40px;
	color: #FFF;
	border: 0;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #333;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #404040;
	border: 1px solid #EEE;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	vertical-align: top;
}

select {
	border: 1px solid #EEE;
    height: 40px;
	padding: 3px 40px 3px 8px;
	background-color: transparent;
	line-height: 100%;
	outline: 0;
	background-image: url("images/arrow.png");
	background-position: right; center;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px 8px;
    height: 40px;
}

textarea {
	padding: 8px;
	width: 100%;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #0078be;
	text-decoration: none;
    transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease; 
}

a:visited {
	
}

a:hover{
	color: #0078be;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.ht-clearfix:before,
.ht-clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-footer:before,
.site-footer:after,
.ht-container:before,
.ht-container:after {
	content: "";
	display: table;
}

.ht-clearfix:after,
.entry-content:after,
.comment-content:after,
.site-footer:after,
.ht-container:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 15px;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 30px;
}

.total-hentry {
	margin: 0 0 50px;
}

.byline,
.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	
}

.page-links {
	clear: both;
	margin: 0 0 15px;
}

#primary{
	width: 75%;
	float: left;
}

#secondary{
	width: 22%;
	float: right;
}

.ht_no_sidebar #primary{
	width: auto;
	float: none;
}

.ht_no_sidebar_condensed #primary{
	width: 76%;
	float: none;
	margin: 0 auto;
}

.ht_left_sidebar #primary{
	float: right;
}

.ht_left_sidebar #secondary{
	float: left;
}

.ht-post-info{
	float: left;
	width: 80px;
	text-align: right;
    font-family: 'Oswald', sans-serif;
}

.single .ht-post-info{
	margin-right: 30px;
	/*margin-bottom: 20px;*/
}

.ht-post-info .entry-date{
	display: block;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.ht-post-info .entry-date span{
	display: block;
	text-transform: uppercase;
}

.ht-post-info .entry-date span.ht-day{
	font-size: 60px;
	line-height: 1.3;
    color: #0078be;
}

.ht-post-info a{
	display: block;
	text-decoration: none;
	line-height: 1.4;
	padding: 20px 0 0;
	text-transform: uppercase;
    border-top: 1px solid #EEE;
    font-size: 12px;
    color: #444;
    font-weight: 300;
}

.ht-post-wrapper{
	padding-left: 105px;
}

.entry-figure{
	background: #f9f9f9;
	text-align: center;
	margin-bottom: 15px;
}

.entry-header .entry-title{
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.entry-figure + .entry-header{
	background: #FFF;
	position: relative;
	margin-top: -65px;
	width: 90%;
	padding: 15px 0 1px;
}

.entry-header .entry-title a{
	text-decoration: none;
	color: #333;
}

.entry-categories{
	font-size: 14px;
	color: #666;
	font-style: italic;
	margin-bottom: 15px;
}

.entry-categories .fa{
	color: #0078be;
	margin-right: 8px;
}

.entry-categories a{
	color: #666;
	text-decoration: none; 
}

.entry-readmore{
	margin-top: 20px;
}

.entry-readmore a{
	background: #0078be;
	padding: 0 20px;
    line-height: 40px;
	color: #FFF;
	border: 0;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
}

.entry-readmore a:hover{
	background: #333;
	color: #FFF;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.widget-area .widget-title{
	position: relative;
	}

/*.widget-area .widget-title:after{
	content:"";
	position: absolute;
	left: 0;
	top: 100%;
	width: 30px;
	background: #0078be;
	height: 2px;
}*/

.widget_nav_menu li a{border: medium none;
    color: #808080;
    font-family: open sans;
    font-size: 14px;
    text-transform: capitalize;
	}
#secondary .widget_nav_menu li {
    background: #efefef none repeat scroll 0 0;
    margin-bottom: 10px;
    padding: 0 10px;
	text-align: left;
}

#secondary .widget_nav_menu li.current-menu-item {
    background: #e0e0e0 none repeat scroll 0 0 !important;
}

.widget-area ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget-area ul ul{
	border-top: 1px solid #f9f9f9;
	margin-top: 5px;
}
#secondary .widget_nav_menu li::before {
    content: ">";
    margin-right: 5px;
}
#secondary .widget_text h4.widget-title ,.corporate-sidebar .widget_text h4.widget-title{
    background: #bd3118 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-family: open sans;
	font-weight:bold;
    font-size: 17.5px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    text-transform: uppercase;
}

.widget-area ul ul li{
	padding-left: 10px;
}

.widget-area ul ul li:last-child{
	border-bottom: 0;
	padding-bottom: 0;
}

.widget-area li,.corporate-sidebar li {
	padding: 5px 0;
	list-style:none;
}

.widget-area .widget_text a,.corporate-sidebar  .widget_text a{
	text-decoration: none;
	 color: #828282;
    display: block;
    font-family: open sans;
    line-height: 20px;
	font-size:13px;
}
.widget-area .widget_text li a .fa ,.corporate-sidebar li a .fa{
  background: #bd3118 none repeat scroll 0 0;
    border-radius: 16px;
    color: #fff;
    display: table;
    float: left;
    height: 22px;
    margin-right: 10px;
    width: 22px;
	padding :5px 6px;
}

.widget_nav_menu h4 {
    color: #6d6e71;
    font-family: open sans;
	font-weight:bold;
    font-size: 15.5px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

.widget-area a:hover{
	color: #0078be
}

.widget-area .widget{
	margin-bottom: 35px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.author-email-url{
	margin-left: -2%;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
	float: left;
	margin-left: 2%;
	width: 31.33333%;
}

.author-email-url input{
	width: 100%;
}

.comment-form .form-submit{
	margin-bottom: 0
}

#comments{

}

h3#reply-title,
h3.comments-title{
	position: relative;
	padding-bottom: 15px;
    margin-bottom: 30px;
}

h3#reply-title:after,
h3.comments-title:after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 30px;
    background: #0078be;
    height: 2px;
}

.logged-in-as,
.comment-notes{
	font-size: 0.9em;
}

#comments ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#comments li.comment{
	margin: 0 0 20px;
}

#comments li.comment .children{
	display: block;
    margin: 20px 0 0 30px;
    padding: 0px;
    list-style: none;
}

article.comment-body {
    background: #fff;
    margin: 0px;
    position: relative;
}

.comment-list a{
	color: #404040;
}

.comment-list a:hover{
	color: #0078be !important;
}

.comment-list .comment-respond{
	margin-top: 20px;
	background: #FFF;
	padding: 20px;
}

.comment-list .vcard img {
	border-radius: 50%;
	margin-right: 10px;
}

.comment-list .vcard .fn{
	font-weight: normal;
	font-size: 16px;
}

.comment-list .edit-link{
	position: absolute;
	right: 0;
	top: 0;
}

.comment-list .edit-link a{
	font-size: 14px;
	display: inline-block;
	padding: 10px;
}

.comment-list .comment-meta {
	margin-bottom: 15px;
} 

.comment-list .comment-metadata {
	border-top: 1px solid #EEE;
	padding-top: 10px;
	font-size: 14px;
}

.comment-list .comment-metadata a {
	float: left;
}

.comment-list .comment-metadata .reply {
	float: right;
}

#cancel-comment-reply-link {
	float: right;
}

.nav-previous a,
.nav-next a{
	background: #0078be;
	color: #FFF;
	display: inline-block;
	padding: 0 10px;
	font-size: 12px;
	line-height: 22px;
	position: relative;
}

.nav-next a{
	margin-right: 13px;
}

.nav-next a:after{
	content: "";
	position: absolute;
	border-left: 11px solid #0078be;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	top: 0;
	right: -11px;
}

.nav-previous a{
	margin-left: 11px;
}

.nav-previous a:after{
	content: "";
	position: absolute;
	border-right: 11px solid #0078be;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	top: 0;
	left: -11px;
}

.no-comments{
	color: #0078be;
}

.pagination{
    text-align: center;
}

.pagination .page-numbers{
    display: inline-block;
    margin: 0 2px;
    background: #0078be;
    color: #FFF;
    padding: 8px 12px;
    line-height: 1;
    border-radius: 2px;
}

.pagination .page-numbers.current,
.pagination .page-numbers:hover{
    background: #333;
    color: #FFF;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 15px;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 15px;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
.ht-container{
	width: 1054px;
	margin: 0 auto;

}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
#ht-masthead{
	border-top: 4px solid #0078be;
	background: #FFF; 
	padding-top:20px;
    z-index: 99;
    transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
}

.ht-sticky-header #ht-masthead{
	position: fixed;
	left: 0;
	right: 0;
}

.ht-sticky#ht-masthead{
	height: 74px;
}

.ht-sticky-header #ht-content{
	position: relative;
	z-index: 9;
	padding-top: 94px;
}

#ht-site-branding{
	float: left;
	width: 30%;
	transition: padding 0.3s ease;
	-moz-transition: padding 0.3s ease;
	-webkit-transition: padding 0.3s ease;
}

.ht-sticky #ht-site-branding{
	padding: 5px 0;
}

#ht-site-branding img{
	max-height: 75px;
	width: auto;
}

.ht-main-header{
	margin-bottom: 15px;
}

.ht-main-title{
	margin: 0 0 15px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: capitalize;
}

.ht-main-title:last-child{
	margin-bottom: 0;
}

.ht-site-title{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin: 0 0 8px;
	letter-spacing: 1px;
	text-transform: uppercase;
    font-size: 32px;
    line-height: 1;
}

.ht-site-title a{
	text-decoration: none;
	color: #0078be;
}

.ht-site-description{
	color: #EEE;
	margin: 0;
	font-size: 15px;
	font-style: italic;
	line-height: 1;
}

.ht-site-description a{
	color: #333;
}

#total-breadcrumbs,
.woocommerce .woocommerce-breadcrumb{
	font-size: 15px;
	margin: 0;
	color: inherit;
}

.woocommerce .woocommerce-breadcrumb a,
#total-breadcrumbs a{
	color: #000;
}

.woocommerce .woocommerce-breadcrumb a:hover,
#total-breadcrumbs a:hover{
	color: #0078be;
}

.taxonomy-description,
.term-description{
	margin-bottom: 15px;
}

.taxonomy-description p:last-child,
.term-description p:last-child{
	margin-bottom: 0;
}

/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
.ht-section{
	padding: 60px 0;
    background: #FFF;
}

.ht-section-title-tagline{
	margin-bottom: 60px;
	text-align: center;
}

.ht-section-title{
	font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 36px;
    width: 60%;
    margin: 0 auto 15px;
}

.ht-section-title:last-child{
	margin-bottom: 0;
}

.ht-section-tagline{
	font-size: 20px;
	width: 70%;
	margin: 0 auto;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#ht-site-navigation{
	float: left;
	padding: 20px 0 0 0;
	transition: padding 0.3s ease;
	-moz-transition: padding 0.3s ease;
	-webkit-transition: padding 0.3s ease;
	clear:both;
	width:100%;
}

.ht-sticky #ht-site-navigation{
	padding: 17px 0;
}

/*.ht-main-navigation .ht-menu{
	float: right;
}*/

.ht-main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0 30px;
	background :#0078bd;
}

.ht-main-navigation li {
	float: left;
	position: relative;
	margin-left: 10px;
}

.ht-main-navigation a {
	display: block;
	text-decoration: none;
	line-height: 50px;
	padding: 0 20px;
	font-weight: 400;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
	 color: #fff;
    cursor: pointer;
    font-family: open sans;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: capitalize
}

.ht-main-navigation ul ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100% ;
	background: #FFF;
	min-width: max-content;
	min-width: -moz-max-content;
	min-width: -webkit-max-content;
	z-index: 999;
	padding: 0 
	
}
.ht-main-navigation ul ul ul{min-width: max-content;
	min-width: -moz-max-content;
	min-width: -webkit-max-content;}
.sub-menu a{background: #FFF;color:#0078bd;}
#menu-main-menu li:hover li{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(0, 107, 173) 0%, rgb(0, 107, 173) 28%, rgb(0, 70, 139) 90%, rgb(0, 70, 139) 100%) repeat scroll 0 0;}

.ht-sticky .ht-main-navigation ul ul{
	margin-top: 17px;
}

.ht-main-navigation .ht-menu > ul > li:last-child > ul{
	left: auto;
	right: 0;
}

.ht-main-navigation ul ul ul {
	left: 100%;
	top: 0;
	margin: 0 ;
	border-top: 0;
}

.ht-sticky .ht-main-navigation ul ul ul{
	margin-top: 0
}

.ht-main-navigation ul ul a {
	text-transform: none;
	font-weight: 400;
	color: #0078be;
	line-height: 1.5;
	padding: 7px 20px;
	font-size: 14px;
}

.ht-main-navigation ul ul li {
	float: none;
	margin: 0;
}

.ht-main-navigation ul ul li:last-child{
	margin-bottom: 0;
}

.ht-main-navigation ul li:hover > ul {
	display: block;
}

.page-template-home-template .ht-main-navigation .current_page_item > a,
.page-template-home-template .ht-main-navigation .current-menu-item > a,
.page-template-home-template .ht-main-navigation .current_page_ancestor > a,
.home.blog .ht-main-navigation .current_page_item > a,
.home.blog .ht-main-navigation .current-menu-item > a,
.home.blog .ht-main-navigation .current_page_ancestor > a{
	background: none;
	color: inherit;
}

.ht-main-navigation li:hover > a,
.page-template-home-template .ht-main-navigation li:hover > a,
.home.blog .ht-main-navigation li:hover > a,
.ht-main-navigation .current_page_item > a,
.ht-main-navigation .current-menu-item > a,
.ht-main-navigation .current_page_ancestor > a,
.page-template-home-template .ht-main-navigation .current > a,
.home.blog .ht-main-navigation .current > a {
	color: #FFF;
	background: #0078be;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 15px;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
## Home Slider
--------------------------------------------------------------*/
.ht-slide{
	position: relative;
}

.ht-slide img{
	width: 100%;
}

.ht-slide-overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.2);
}

.ht-slide-caption{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1170px;
	margin-left: -585px;
	-ms-transform: translateY(-50%); 
   	-webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
}

.ht-slide-cap-title{
	text-align: center;
	font-size: 38px;
	color: #FFF;
	font-weight: 400;
	margin-bottom: 25px;
	padding: 0 10%;
	line-height: 1.2;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

.ht-slide-cap-title span{
	display: inline-block;
	padding: 8px 15px;
	background: #0078be;
}

.ht-slide-cap-desc{
	text-align: center;
	font-size: 25px;
	line-height: 1.4;
	color: #FFF;
	padding: 0 20%;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

#ht-home-slider-section .bx-wrapper .bx-controls-direction a{
	height: 70px;
    width: 50px;
	margin-top: -35px;
	opacity: 0.6;
}

#ht-home-slider-section .bx-wrapper .bx-controls-direction a:hover{
	opacity: 1;
}

#ht-home-slider-section .bx-wrapper .bx-prev{
	background: url(images/prev.png) no-repeat center rgba(0,0,0,0.3);
	left: 0;
}

#ht-home-slider-section .bx-wrapper .bx-next{
	background: url(images/next.png) no-repeat center rgba(0,0,0,0.3);
	right: 0;
}
/*--------------------------------------------------------------
## About Section
--------------------------------------------------------------*/
#ht-about-us-section{
	background: #FFF;
}

#ht-about-us-section .ht-container{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

.ht-about-sec{
	width: 54%;
	padding-right: 30px;
}

.ht-about-sec h2{
	text-align: left;
    width: auto;
}

.ht-progress{
	margin-bottom: 20px;
}

.ht-progress:last-child{
	margin-bottom: 0;
}

.ht-progress h6{
	font-weight: 300;
	margin-bottom: 5px;
}

.ht-progress-bar-sec{
	margin-top: 30px;
}

.ht-progress-bar{
	height: 8px;
	width: 100%;
	position: relative;
	line-height: 20px;
	font-size: 13px;
	background: #f6f6f6
}

.ht-progress-bar-length{
	background: #0078be;
	height: 100%;
	text-align: right;
	padding-right: 20px;
}

.ht-progress-bar-length span{
	position: absolute;
	right: 0;
	bottom: 100%; 
}

.ht-about-image{
	width: 45%;
	padding-left: 30px;
}

/*--------------------------------------------------------------
## Featured Section
--------------------------------------------------------------*/
#ht-featured-post-section{
	background: #0078be;
	color: #FFF;
	padding-bottom: 80px;
}

.ht-featured-post-wrap{
	margin-left: -3%;
}

.ht-featured-post{
	float: left;
	margin-left: 3%;
	width: 30.33%;
	text-align: center;
	border:2px solid #FFF;
	padding: 30px;
}

.ht-featured-post h5{
	text-transform: uppercase;
	margin-bottom: 25px;
}

.ht-featured-icon{
    display: inline-block;
    color: #FFF;
    font-size: 46px;
    line-height: 80px;
    width: 180px;
    background: #0078be;
    -ms-transform: translateY(-35px); 
    -webkit-transform: translateY(-35px); 
    transform: translateY(-35px); 
}

.ht-featured-icon .fa{
	vertical-align: bottom;
}

.ht-featured-link{
	-ms-transform: translateY(52px);
	-webkit-transform: translateY(52px);
	transform: translateY(52px); 
}

.ht-featured-link a{
	padding: 0 15px;
	display: inline-block;
	line-height: 40px;
    background: #FFF;
	color: #0078be;
    border-right: 10px solid #0078be;
    border-left: 10px solid #0078be;
}

.ht-featured-link a:hover{
	background: #333;
	color: #FFF;
}

/*--------------------------------------------------------------
## Portfolio Section
--------------------------------------------------------------*/
.ht-portfolio-cat-name-list{
	text-align: center;
	margin-bottom: 30px;
	text-align: right;
}

.ht-portfolio-cat-name-list .fa{
	vertical-align: middle;
	color: #0078be; 
}

.ht-portfolio-cat-name{
	cursor: pointer;
	display: inline-block;
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #BBB;
	line-height: 1;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.ht-portfolio-cat-name:nth-child(2){
	border-left: 0;
	margin-left: 0;
}

.ht-portfolio-cat-name:hover, 
.ht-portfolio-cat-name.active{
	color: #0078be;
}

.ht-portfolio-post-wrap{
	margin: 0 -7.5px;
}

.ht-portfolio{
	width: 33.33%;
	float: left;
	padding: 7.5px;
}

.ht-portfolio-outer-wrap{
	position: relative;
}

.ht-portfolio-wrap{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: #f9f9f9;
}

.ht-portfolio-wrap img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.ht-portfolio-caption{
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 10px;
	padding: 30px;
	opacity: 0;
	background: rgba(255, 193, 7, 0.9);
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	overflow: hidden;
}

.ht-portfolio-wrap:hover .ht-portfolio-caption{
	opacity: 1;
}

.ht-portfolio-caption h5{
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	-ms-transform: translate(300px, 0); 
   	-webkit-transform: translate(300px, 0); 
    transform: translate(300px, 0);
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.ht-portfolio-wrap:hover .ht-portfolio-caption h5{
	-ms-transform: translate(0, 0); 
   	-webkit-transform: translate(0, 0); 
    transform: translate(0, 0);
}

.ht-portfolio-caption a{
	height: 36px;
	width: 36px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	text-align: center;
	display: block;
	line-height: 36px;
	color: #0078be;
	font-size: 14px;
	background: #FFF;
	margin: 10px 5px;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}

.ht-portfolio-caption a.ht-portfolio-image{
	-ms-transform: translate(-300px, 0); 
   	-webkit-transform: translate(-300px, 0); 
    transform: translate(-300px, 0);
    right: 66px;
}

.ht-portfolio-caption a.ht-portfolio-link{
	-ms-transform: translate(-300px, 0); 
   	-webkit-transform: translate(-300px, 0); 
    transform: translate(-300px, 0);
}

.ht-portfolio-wrap:hover .ht-portfolio-caption a.ht-portfolio-link,
.ht-portfolio-wrap:hover .ht-portfolio-caption a.ht-portfolio-image{
	-ms-transform: translate(0, 0); 
   	-webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}


/*--------------------------------------------------------------
## Service Section
--------------------------------------------------------------*/
#ht-service-post-section{
	position: relative;
	padding: 40px 0;
	background: #F5F5F5;
}

.ht-service-left-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 200px;
	width: 50%;
}

.ht-service-posts{
	float: left;
	width: 50%;
	padding-right: 40px;
}

.ht-service-post-wrap{
	position: relative;
}

.ht-service-post-wrap:after{
	content: "";
	position: absolute;
	left: 24px;
	top: 0;
	bottom: 0;
	width: 2px;
	background: #0078be;
}

.ht-service-posts .ht-section-title-tagline{
	text-align: left;
	margin-bottom: 21px;
}

.ht-service-posts .ht-section-title{
    width: auto;
}

.ht-service-posts .ht-section-tagline{
	width: auto;
}

.ht-service-post{
	margin-bottom: 25px;
	position: relative;
	z-index: 99;
}

.ht-service-post:last-child{
	margin-bottom: 0
}

.ht-service-icon{
	float: left;
	font-size: 18px;
	background: #0078be;
	width: 50px;
	text-align: center;
	color: #FFF;
	line-height: 50px;
	cursor: pointer;
	border-radius: 50%;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}

.ht-active .ht-service-icon{
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px #0078be;
}

.ht-service-excerpt{
	padding-left: 65px;
}

.ht-service-text{
	display: none;
}

.ht-service-excerpt h5{
	margin: 15px 0 6px;
	cursor: pointer;
}

/*--------------------------------------------------------------
## Team Section
--------------------------------------------------------------*/
.ht-team-member-wrap{
	margin-left: -2%;
}

.ht-team-member{
	width: 23%;
	margin-left: 2%;
	float: left;
	text-align: center;
}

.ht-team-member img{
	width: 100%;
}

.ht-team-member-image{
	position: relative;
	overflow: hidden;
}

.ht-team-social-id{
	padding: 10px;

}

.ht-team-social-id a{
	display: inline-block;
	color: #FFF;
	margin: 0 5px;
	font-size: 16px;
	line-height: 32px;
	background: #0078be;
	color: #FFF;
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.ht-team-social-id a:hover{
	background: #333;
	color: #FFF;
}

.ht-team-member-excerpt{
	background: rgba(255, 193, 7, 0.9);
	padding: 20px;
	color: #FFF !important;
	display: block;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 10px;
    opacity: 0;
	-ms-transform: scale(0.5); 
   	-webkit-transform: scale(0.5); 
    transform: scale(0.5);
    transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}

.ht-team-member:hover .ht-team-member-excerpt{
    opacity: 1;
	-ms-transform: scale(1); 
   	-webkit-transform: scale(1); 
    transform: scale(1);
}

.ht-team-member-excerpt-wrap{
	display: table;
	width: 100%;
	height: 100%;
}

.ht-team-member-excerpt-wrap .ht-team-member-span{
	display: table-cell;
	vertical-align: middle;
}

.ht-title-wrap{
	background: rgba(255, 193, 7, 0.9);
	color: #FFF;
	padding: 10px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	right: 10px;
    -moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    opacity: 1;
}

.ht-team-member:hover .ht-title-wrap{
    opacity: 0;
}

.ht-team-member h6{
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
	padding-bottom: 10px;
}

.ht-team-member .ht-title-wrap h6{
    padding: 0;
    margin: 0;
}

.ht-team-member h6 a{
	text-decoration: none;
	color: inherit;
}

.ht-team-member .ht-team-member-excerpt h6:after{
	content: "";
	position: absolute;
	width: 50px;
	left: 50%;
	margin-left: -25px;
	height: 2px;
	background: #FFF;
	bottom: -2px;
}

.ht-team-member .ht-team-designation{
	font-size: 0.9em;
    margin-bottom: 15px;
}

.ht-team-detail{
	background: #FFF;
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #0078be;
	padding: 0 10px;
	text-decoration: none;
	line-height: 30px;
	font-size: 0.9em;
}

.ht-team-detail:hover{
    background: #333;
    color: #FFF;    
}

/*--------------------------------------------------------------
## Counter Section
--------------------------------------------------------------*/
#ht-counter-section{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #FFF;
    background-attachment: fixed;
    position: relative;
    background-position: 50% 0;
}

#ht-counter-section .ht-section{
    background: none;
}

#ht-counter-section .ht-counter-overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
}

#ht-counter-section .ht-container{
	position: relative;
}

.ht-team-counter-wrap{
	margin-left: -5%;
}

.ht-counter{
	float: left;
	width: 20%;
	margin-left: 5%;
	text-align: center;
	border: 2px solid #0078be;
	border-top: 0;
	padding: 0 20px 20px;
	position: relative;
}

.ht-counter:after{
	content: "";
	position: absolute;
	width: 30%;
	left: 0;
	top: 0;
	height: 2px;
	background: #0078be;
}

.ht-counter:before{
	content: "";
	position: absolute;
	width: 30%;
	right: 0;
	top: 0;
	height: 2px;
	background: #0078be;
}

.ht-counter-count{
	font-size: 48px;
	line-height: 1;
	margin-bottom: 25px;
	letter-spacing: 3px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.ht-counter-icon{
	display: inline-block;
    font-size: 36px;
    color: #0078be;
    position: relative;
    -ms-transform: translate(0, -17px);
    -webkit-transform: translate(0, -17px);
    transform: translate(0, -17px);
    line-height: 36px;
}

.ht-counter-title{
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 15px;
	font-weight: 400;
	margin: 0;
}

/*--------------------------------------------------------------
## Logo Section
--------------------------------------------------------------*/
.ht_client_logo_slider img{
	padding: 0 26px;
}

/*--------------------------------------------------------------
## Testimonial Section
--------------------------------------------------------------*/
#ht-testimonial-section{
	padding: 60px 0 80px;
}

.ht-testimonial-wrap .bx-wrapper img{
	height: 100px;
	width: 100px;
	margin: 0 auto 20px;
	border-radius: 50%;
	border: 1px solid #0078be;
	padding: 5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.ht-testimonial-excerpt{
	width: 80%;
	margin: 0 auto 30px;
	text-align: center;
    position: relative;
}

.ht-testimonial-excerpt .fa-quote-left{
	position: absolute;
    top: 0;
    left: -65px;
    font-size: 60px;
    color: #EEE;
    z-index: -1;
}

.ht-testimonial h6{
	text-align: center;
	margin: 0;
}

.ht-testimonial-wrap .bx-wrapper .bx-controls-direction a{
	text-indent: 0;
	background: #0078be;
	height: 50px;
	width: 30px;
	color: #FFF;
	text-align: center;
	line-height: 50px;
	opacity: 0;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.ht-testimonial-wrap .bx-wrapper:hover .bx-controls-direction a{
	opacity: 1;
}

.ht-testimonial-wrap .bx-wrapper .bx-controls-direction a:hover{
	background: #333;
}

/*--------------------------------------------------------------
## Blog Section
--------------------------------------------------------------*/
#ht-blog-section{
	background: #f6f6f6;
	padding-bottom: 30px;
}

.ht-blog-wrap{
	margin-left: -3%;
}

.ht-blog-post{
	float: left;
	margin-left: 3%;
	width: 30.333%;
	background: #FFF;
	margin-bottom: 30px;
	border-bottom: 6px solid #0078be;
}

.ht-blog-post:nth-child(3n+1){
	clear: both;
}

.ht-blog-thumbnail a{
    display: block;
    position: relative;
}

.ht-blog-thumbnail a:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.ht-blog-thumbnail:hover a:after{
    width: 100%;
}

.ht-blog-excerpt{
	padding: 20px;
}

.ht-blog-excerpt h5{
	font-weight: 400;
	margin-bottom: 15px
}

.ht-blog-excerpt h5 a{
	color: #444;
}

.ht-blog-date{
	font-size: 14px;
	color: #999;
	margin-bottom: 10px;
}

.ht-blog-date .fa{
	margin-right: 10px;
}

.ht-blog-read-more{
	padding: 0 20px 20px;
	text-align: right;
}

.ht-blog-read-more a{
	display: inline-block;
	background: #0078be;
	color: #FFF;
	padding: 0 15px;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	border-radius: 1px;
}

.ht-blog-read-more a:hover{
	background: #333;
	color: #FFF;
}

/*--------------------------------------------------------------
## Contact Section
--------------------------------------------------------------*/
#ht-cta-section{
	color: #FFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
    background-attachment: fixed;
    position: relative;
    background-position: 50% 0;	
}

#ht-cta-section .ht-section{
    padding: 80px 0;
    background: none;
}

#ht-cta-section .ht-section-title-tagline{
	margin-bottom: 40px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#ht-cta-section .ht-cta-overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
}

#ht-cta-section .ht-container{
	position: relative;
}

.ht-cta-buttons{
	text-align: center;
}

.ht-cta-buttons a{
	display: inline-block;
	padding: 0 30px;
	line-height: 52px;
	color: #FFF;
	border-radius: 1px;
	margin: 0 4px;
	font-family: 'Oswald', sans-serif;
}

.ht-cta-buttons a.ht-cta-button1{
	background: #0078be;
}

.ht-cta-buttons a.ht-cta-button2{
	background: #333;
}

.ht-cta-buttons a.ht-cta-button1:hover{
	background: #333;
	color: #FFF;
}

.ht-cta-buttons a.ht-cta-button2:hover{
	background: #0078be;
	color: #FFF;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
#ht-colophon{
	background: #f4f4f4;
	font-size: 15.5px;
	line-height : 20px;
}

.page-template-home-template #ht-colophon,
.home.blog #ht-colophon{
	margin-top: 0
}

#ht-colophon a{
	color: #828282;
	text-decoration: none;
	 margin-bottom: 10px;
    text-transform: capitalize;
	font-size:14px;
}

#ht-colophon .widget-title{
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #828282;
    margin-bottom: 10px;
}

#ht-top-footer{
	color: #BBB;
	padding: 50px 0;
}

.ht-top-footer{
	margin-left: -3%;
}

.ht-footer{
	float: left;
	width: 22%;
	margin-left: 3%;
}

.ht-footer .widget{
    margin-bottom: 30px;
}

.ht-footer .widget:last-child{
    margin-bottom: 0;
}

.ht-footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.ht-footer ul li{
	padding: 2px 0 2px 0;
}

#ht-bottom-footer{
	background: #0078bd;
	padding: 25px 0 0;
	color: #fff;
	line-height: 0;
	text-align: center;
	font-size:10.5px;
}

.ht-site-info a {
    border-right: 1px solid #fff;
    line-height: 20px;
    padding-right: 10px;
}
#ht-back-top{
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: #111;
	height: 45px;
	width: 45px;
	text-align: center;
	color: #FFF;
	line-height:40px;
	z-index: 99;
	cursor: pointer;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

#ht-back-top:hover{
	background: #0078be;
}

#ht-back-top.ht-hide{
	bottom: -100px;
}

/*--------------------------------------------------------------
## 404 Page
--------------------------------------------------------------*/
.error404 .error-404{
	display: block;
	text-align: center;
	font-size: 200px;
	color: #f9f9f9;
	line-height: 1.2;
}

.error404 .oops-text{
	text-align: center;
}

.toggle-bar{
	display: none;
}


/*--------------------------------------------------------------
## Odometer CSS
--------------------------------------------------------------*/
.odometer.odometer-auto-theme, 
.odometer.odometer-theme-default {
	display: block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, 
.odometer.odometer-theme-default .odometer-digit {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, 
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, 
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
	text-align: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, 
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
	display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, 
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
	display: block;
	-webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, 
.odometer.odometer-theme-default .odometer-digit .odometer-value {
	display: block;
	-webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, 
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
	position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, 
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, 
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, 
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, 
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.odometer.odometer-auto-theme .odometer-value, 
.odometer.odometer-theme-default .odometer-value {
	text-align: center;
}

/*--------------------------------------------------------------
## WooCommerce CSS
--------------------------------------------------------------*/
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
	border: 1px solid #dadada;
	border-radius: 2px;
	text-align: center;
}

.woocommerce ul.products li.product:hover, 
.woocommerce-page ul.products li.product:hover{
	border-color: #0078be
}

.woocommerce ul.products li.product a img{
	margin-bottom: 0;
}

.woocommerce ul.products li.product .total-product-title-wrap{
	padding: 20px 10px 0;
}

.woocommerce ul.products li.product a{
	color: inherit;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3{
	font-family: 'Pontano Sans', sans-serif;
	margin: 0 0 6px;
	padding: 0;
}

.woocommerce div.product div.images .flex-control-thumbs{
	margin: 5px -5px 0;
}

.woocommerce div.product div.images .flex-control-thumbs li{
	padding: 5px;
}

.woocommerce ul.products li.product .price{
	font-weight: 500;
	font-size: 20px;
	color: #0078be;
	margin: 0;
}

.woocommerce ul.products li.product .price del{
	display: inline;
	color: #999;
	opacity: 1;
}
.woocommerce ul.products li.product .price ins{
	display: inline;
	font-weight: 400;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 0;
    color: #FFF;
    background-color: #0078be;
    border:1px solid #0078be;
    height: 40px;
    margin-bottom: -20px;
    line-height: 20px;
    font-size: 0.9em;
}

.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover{
	background: #333;
	border:1px solid #333;
	color: #FFF;
}

.woocommerce ul.products li.product .button{
	margin: 0;
	transform: translateY(50%);
	-ms-transform: translateY(50%);
	-webkit-transform: translateY(50%);
	font-size: 16px;
    background-color: #FFF;
    border:1px solid #dadada;
    border-radius: 3px;
}

.woocommerce ul.products li.product:hover .button{
	border-color: #0078be;
	background-color: #0078be;
	color: #FFF;
}

.woocommerce ul.products li.product .button.loading{
	opacity: 1;
}

.woocommerce a.added_to_cart{
	padding-top: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 25px;
	font-size: 13px;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
	border-color: #0078be;
	background-color: #0078be;
}

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
	background: #333;
	border-color: #333;
	color: #FFF;
}

.woocommerce nav.woocommerce-pagination ul{
	border: 0;
	margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li{
	border: 0;
	margin: 0 4px;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span{
	display: block;
    background: #0078be;
    color: #FFF;
    padding: 8px 12px;
    line-height: 1;
    border-radius: 2px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current{
	background: #333;
    color: #FFF;
}

.woocommerce span.onsale{
    min-height: 0;
    min-width: 0;
    padding: 0 15px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 0;
    background-color: #0078be;
    color: #fff;
    font-size: 14px;
    margin: 10px 0 0 -6px;
    top: 0;
    left: 0;
}

.woocommerce span.onsale:after{
	border-color: transparent #e8ae00 #e8ae00 transparent;
    border-width: 3px;
    border-style: solid;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0px;
}

.woocommerce ul.products li.product .onsale{
	margin: 10px -6px 0 0;
}

.woocommerce ul.products li.product .onsale:after{
    border-color: transparent transparent #e8ae00 #e8ae00;
    border-width: 3px;
    border-style: solid;
    right: 0px;
    left: auto;
}

.woocommerce div.product p.price, 
.woocommerce div.product span.price{
	color: #0078be
}

.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins{
	font-weight: 400;
}

.woocommerce .product_meta{
	font-size: 15px;
}

.woocommerce .product_meta a{
	color: inherit;
}

.woocommerce .product_meta a:hover{
	color: #0078be;
}

.woocommerce div.product .woocommerce-tabs ul.tabs{
	padding: 0;
	border-bottom: 2px solid #0078be;
	padding-bottom: 10px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
	display: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 10px 0;
    font-weight: 400;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 0;
    background-color: #333;
    border-radius: 0;
    margin: 0 6px 0 0;
    padding: 0 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	background: #0078be;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	color: #FFF !important;
}

.woocommerce #reviews #comments h2,
.woocommerce #reviews h3{
	font-size: 22px;
	margin-bottom: 30px;
}

.woocommerce-Reviews .comment-form-author, 
.woocommerce-Reviews .comment-form-email{
	width: 100%;
}

.woocommerce-Reviews .comment-form-author input,
.woocommerce-Reviews .comment-form-email input{
	width: 100%;
}

.related.products h2{
	margin-bottom: 30px;
}

.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, .woocommerce a.button:disabled, 
.woocommerce a.button:disabled[disabled], 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled]{
	background: #0078be;
	padding: 10px 20px;
	color: #FFF;
}

.woocommerce #respond input#submit.disabled:hover, 
.woocommerce #respond input#submit:disabled:hover, 
.woocommerce #respond input#submit:disabled[disabled]:hover, 
.woocommerce a.button.disabled:hover, 
.woocommerce a.button:disabled:hover, 
.woocommerce a.button:disabled[disabled]:hover, 
.woocommerce button.button.disabled:hover, 
.woocommerce button.button:disabled:hover, 
.woocommerce button.button:disabled[disabled]:hover, 
.woocommerce input.button.disabled:hover, 
.woocommerce input.button:disabled:hover, 
.woocommerce input.button:disabled[disabled]:hover{
	background: #333;
	color: #FFF;
}

.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt:disabled[disabled], 
.woocommerce #respond input#submit.alt:disabled[disabled]:hover, 
.woocommerce a.button.alt.disabled, 
.woocommerce a.button.alt.disabled:hover, 
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt:disabled[disabled], 
.woocommerce a.button.alt:disabled[disabled]:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, 
.woocommerce button.button.alt:disabled:hover, 
.woocommerce button.button.alt:disabled[disabled], 
.woocommerce button.button.alt:disabled[disabled]:hover, 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt:disabled[disabled], 
.woocommerce input.button.alt:disabled[disabled]:hover{
	background: #0078be;
	border-color: #0078be;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button{
	line-height: 40px;
    font-size: inherit;
    padding: 0;
}

.select2-container .select2-choice{
	border: 1px solid #EEE;
	font-size: 0.9em;
	color: inherit;
	border-radius: 0;
}

.select2-results{
	font-size: 0.9em;
	color: inherit;
}

.select2-drop-active{
	border-color: #EEE;
}

.select2-drop.select2-drop-above.select2-drop-active{
	border-color: #EEE;
}

.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message{
	border-top-color: #0078be;
	font-size: 0.9em;
}

.woocommerce-error:before, 
.woocommerce-info:before, 
.woocommerce-message:before{
	color: #0078be;
}

.woocommerce-error a.button, 
.woocommerce-info a.button, 
.woocommerce-message a.button{
	padding: 5px 20px;
    line-height: 1;
    height: auto;
}

.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th{
	font-weight: 400;
}

#customer_details{
	margin-bottom: 40px;
}

.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register{
	border: 1px solid #EEE;
	border-radius: 0;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order{
	float: none;
}

.woocommerce .widget_shopping_cart .cart_list li, 
.woocommerce.widget_shopping_cart .cart_list li{
	padding-top: 4px;
}

.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a{
	font-weight: 400;
}

.woocommerce a.remove{
	font-family: Arial;
	font-weight: normal;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, 
.woocommerce.widget_shopping_cart .cart_list li a.remove{
	top: 8px;
}

.woocommerce .widget_layered_nav ul li{
	padding: 5px 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	background-color: #FFF;
	border: 4px solid #0078be;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background-color: #0078be
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background-color: #EEE;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	height: 20px;
	width: 20px;
	top: -6px;
    margin-left: -10px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul{
	list-style: none;
}

.woocommerce-MyAccount-navigation-link a{
	background: #0078be;
	color: #FFF;
	padding: 10px 20px;
	margin-bottom: 5px;
	display: block;
}

.woocommerce-MyAccount-navigation-link.is-active a,
.woocommerce-MyAccount-navigation-link a:hover{
	background: #333;
}



/*Custom Css Nantha */
span.phone {
    color: #0078be;
    display: block;
    font-family: open sans;
    font-size: 22px;
    line-height: 25px;
    text-align: right;
    text-transform: uppercase;
	font-weight : bold;
}
.call span.email {
    color: #0078be;
    display: block;
    font-family: open sans;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
}
.call input[type="search"], .call input {
    background: #efefef url("assets/images/icon-s.png") no-repeat scroll 90% center;
    border: medium none;
    border-radius: 15px;
    float: right;
    height: auto;
    margin-top: 5px;
    padding: 0 10px;
}
.call button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    bottom: 2px;
    position: absolute;
    right: 29px;
}
.call{width:25%;float:right;}
h3.Journey {
    color: #0078be;
    font-family: open sans ;
	font-weight:bold;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: left;
}
.service-item-wrapper p
{color: #828282;
    font-family: open sans;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: justify;
	}
a.read {
    color: #be3219;
    display: block;
    font-family: open sans;
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
}
span.title {
    color: #0077b8;
    display: block;
    font-family: open sans;
    font-size: 15.5px;
    line-height: 18px;
    margin-bottom: 10px;
	font-weight:600;
}
h1.ht-main-title{
    color: #0078be;
    font-family: open sans;
    font-size: 24px;
    margin-bottom: 0;
	display:none;
}
.vc_tta-tabs-list a{color: #828282;
    display: block;
    font-family: open sans;
    font-size: 14px;
    padding: 7px 20px !important;}
.vc_tta-tabs-list i{color: #828282;}
.vc_tta-tabs-list  li:nth-child(1){width:25%; border-left: 1px solid #ccc;}
.vc_tta-tabs-list  li:nth-child(2){width:20%;}
.vc_tta-tabs-list  li:nth-child(3){width:30%;}
.vc_tta-tabs-list  li:nth-child(4){width:25%; border-right: 1px solid #ccc;}
.vc_tta-tabs-list span{margin-left:5px !important;}
.vc_tta-panel-body {
    background: #fff !important;
    border: 1px solid #ccc !important;
    width: 99.9%;
	padding: 25px 22px !important;
}
.vc_tta-tab.vc_active > a {
    background: #fff !important;
}
.vc_tta-tab.vc_active {
    border-top: 2px solid #0078be !important;
}
.ht-footer h4.widget-title {
    color: #828282;
    font-family: open sans;
	font-weight:bold;
    font-size: 15.5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.ht-footer .textwidget > li {
    line-height: 25px;
    list-style: outside none none;
}
.ht-footer li i {
    margin-right: 7px;
}
.ht-container .wp-post-image{width:100%;}
.slick-dots{display:none !important;}
.slider-content h4 {
    color: #fff;
    font-family: open sans;
    font-size: 33.5px;
    font-weight: bold;
}
.promo-box h3 ,.buy-box h3{
	color: #fff;
    display: block;
    font-family: open sans;
	font-weight:bold;
    font-size: 21px;
    line-height: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: left;
    text-transform: uppercase;
	}
.promo-box p{
    color: #fff;
    font-family: open sans;
	font-weight:500;
    font-size: 12.5px;
    margin-bottom: 0;
	line-height:20px;
}
.buy-box p{line-height:20px;}
.buy-box a {bottom: -29px;position: relative;}
.promo-box p strong {
    color: #fff;
    font-family: open sans;
	font-weight:bold;
    font-size: 22px;
    line-height: 20px;
}
.promo-box p a,.buy-box p a {
    background-color: #ccedf4;
    color: #0b9cc1;
    display: block;
    font-family: open sans;
    font-size: 15.5px;
    margin-top: 15px;
    padding: 2px 20px;
}

.promo-box .enjoy {
    color: #99dbe9;
    font-family: open sans;
	font-weight:bold;
    font-size: 19.5px;
    padding-top: 10px;
}
.promo-box .promo-padding  ,.buy-box .buy-padding{
    padding: 10px 8px 0 20px;
}
.promo-box ,.buy-box{
    min-height: 180px !important;
    width: 27% !important;
}
.welcome-box{
	width: 45% !important;
}
.buy-box .wpb_wrapper{height:178px;}
.promo-box .vc_column-inner ,.buy-box .vc_column-inner {padding-left:0px !important;}
ul#menu-footer-bottom li a {
    font-family: open sans;
	font-weight:600;
    font-size: 10.5px;
    text-decoration: underline;
    text-transform: capitalize;
	color:#fff;
}
.ht-site-info ul #menu-item-221 a:last-child{
	border-right:none;
}
ul#menu-footer-bottom li {
    border: medium none;
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 5px;
    position: relative;
}

input[type="text"], input[type="search"], input[type="email"], input[type="url"], input[type="password"], textarea ,input[type="tel"] {
    background-color: #ffffff;
    border: 1px solid #ddd;
    color: #888888;
    font-size: 12px;
    height: 44px;
    letter-spacing: 0.02em;
    line-height: 1;
    padding: 0 15px;
    transition: all 0.2s ease 0s;
}
.Contact-form .row div ,.Contact-form .vc_col-sm-4 .wpcf7-form-control{margin-bottom:20px;}
.Contact-form .vc_col-sm-12,.Contact-form .vc_col-sm-5,.Contact-form .vc_col-sm-6,.Contact-form .vc_col-sm-7{padding-left:0px !important;}
.Contact-form .wpcf7-form-control{width:100%;border-radius:5px;}
.Contact-form .vc_col-sm-4 {padding-left: 0;}
.Contact-form label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
textarea {
    height: auto;
    padding-top: 15px;
}
input[type="submit"] 
{
    background: #00a5c8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    margin-top: 0px;
    max-width: 80px;
    min-width: 0;
    width: 100%;
}
#comments{display:none;}
.date_hidden {
    background: #0078be none repeat scroll 0 0;
    border-radius: 2px;
    padding: 2px;
}
.date {
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 0 auto;
    padding: 40px 0;
}
span.day {
    color: #fff;
    display: block;
    font-family: open sans;
    font-size: 70px;
    line-height: 52px;
    text-align: center;
}
span.year {
    color: #fff;
    display: block;
    font-family: open sans;
	font-weight:600;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.proccess h4 {
    color: #0078b1;
    font-family: open sans;
	font-weight:600;
    font-size: 15.5px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-right: 10px;
}
.proccess li:nth-child(1) {
    background: rgba(0, 0, 0, 0) url("images/bg-step1.png") no-repeat scroll 0 0 / 100% 90%;
}
.proccess li:nth-child(2) {
    background: rgba(0, 0, 0, 0) url("images/bg-step2.png") no-repeat scroll 0 0 / 100% 90%;
}
.proccess li:nth-child(3) {
    background: rgba(0, 0, 0, 0) url("images/bg-step3.png") no-repeat scroll 0 0 / 100% 90%;
}
.proccess ul  {
	margin :0px;
}	
.proccess ul li {
    list-style: outside none none;
}
.proccess li {
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
    min-height: 60px;
    padding: 5px;
    width: 28%;
    text-align:left;
}
.proccess li a, .proccess li a p {
    color: #fff;
    display: block;
    font-family: open sans;
    font-size: 12.5px;
    line-height: 16px;
	font-weight :normal;
}
.proccess li strong {
    color: #fff;
    display: inline-block;
    float: left;
    font-family: open sans;
    font-size: 12.5px;
    line-height: 14px;
    margin-right: 4px;
}
h2.title {
    color: #0078be;
    font-family: open sans;
	font-weight:bold;
    font-size: 24px;
    margin-bottom: 0;
}
.home-slider .vc_column-inner {padding-right:0px !important; }
.home-scroll .vc_column-inner {padding-left:0px !important; }
.home-slider{z-index:1;}
.mCustomScrollBox {max-height:492px !important;height:492px !important;}
.mCSB_inside > .mCSB_container{margin-right:20px !important;}
.home-scroll .col-md-12 {padding-left:2px !important;padding-right:0px !important;}
span.sub-per b {
    color: #969696;
    font-family: open sans;
	font-style:italic;
    font-size: 10px;
}
span.sub-per{
	font-weight:600;
	text-align:left;	
	    color: #828282;
    font-family: open sans;
    font-size: 14.5px;
}
#secondary .trade-form{margin-bottom:10px;}
span.per {
    border-top: 2px solid #be3219;
    color: #be3219;
    display: block;
    font-family: open sans;
	font-weight:bold;
    font-size: 16.5px;
    margin-top: 20px;
	margin-bottom:10px;
}
div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
    margin-left: -7px;
    margin-top: -10px;
    clear:both;
}
.vc_tta-panel-body p{
    color: #808080;
    font-family: open sans;
    font-size: 14px;
}
.vc_tta-panel-body ul li {
    color: #808080;
    font-family: open sans;
    font-size: 14px;
    list-style-image: url("images/tick-blue.png");
}
.vc_tta-panel-body p img{margin-right:40px;}
#text-15 span b{font-size:13px;}
.single-corporateinsurance #primary,.single-corporateinsurance #secondary{margin-top:20px;}

/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: auto;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}
.accordion-item img{width:100%;}

.accordion {
    padding: 0;
    margin: 0 auto;
    width: 100%;
	position:relative;
	clear:both;
}
.acc-mar{padding-top:20px;}
.accordion .accordion-item {
  padding-right: 1em;
  color: #eee;
  width:25%;
  float : left;
}

.accordion h1 {
  margin: 0;
  cursor:pointer;
}

.accordion .accordion-item:nth-child(1) h1{
  background: #50c7d6 none repeat scroll 0 0;

}
.accordion ul {
    background: #f5f5f5 none repeat scroll 0 0;
	margin:0px;
}
.accordion ul > li:hover {
background:#e6e6e6;	
cursor:pointer;
}
.accordion ul > li {
	list-style:none;
}
.accordion ul > li > a {
    padding: 0 10px;
	color:#555;
	font-size:14px;
	font-family : open sans;
}
.accordion ul  a {
    transition: all 1s ease 0s;
}
.accordion ul  a {
    font-family: open_sansregular;
    font-size: 14px;
}
.accordion .accordion-item:nth-child(2) h1 {
  background:#00a4c7 none repeat scroll 0 0;
}

.accordion .accordion-item:nth-child(3) h1{
  background :#0086b4 none repeat scroll 0 0;
}

.accordion .accordion-item:nth-child(4) h1{
  background:#0078ae none repeat scroll 0 0;
}
.accordion .accordion-item h1{
    color: #fff;
    display: block;
    font-family: open sans;
	font-weight :600;
    font-size: 15.21px;
    padding: 5px 10px;
}
.accordion .accordion-item h1 a {color: #fff;}
.according h3 {
    color: #0078b1;
    font-family: open sans;
    font-weight:600;
    font-size: 15px;
    margin-bottom: 15px;
	position :relative;
	clear:both;
	padding:20px 0px;
}

.col-md-6.col-xs-6.contenthere:nth-child(2n+1) a.whenhover{
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
     transition: all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    opacity: 0;
}
.col-md-6.col-xs-6.contenthere:nth-child(2n) a.whenhover{
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    opacity: 0;
}
.col-md-6.col-xs-6.contenthere:nth-child(2n+1) a.whenhover:hover{
    transform: translate3d(0, 0, 0) !important;
    transition: all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;


}
.col-md-6.col-xs-6.contenthere{
    height: 109px;
}
.col-md-6.col-xs-6.contenthere.show_img a.whenhover{
    transform: translate3d(0, 0, 0) !important;
    transition: all 0.5s ease 0s;
    opacity: 1 !important;
}
.col.col-md_12.no-padding{
    width: 30%;
}
.col-md-12.no-padding.client img {
    display: block;
    margin: 0 auto;
   
    margin-bottom: 5px;
}

.col-md-12.nopadding-left.client{
    padding-left: 0 !important;
    width: 35.8%;
    max-height: 445px;
}
.col-md-8.nopading-right.slider{
    padding-right: 0 !important;
    width: 61.4%;
}
.col-md-12.client .col-md-6{
    background-color: #efefef;
    padding: 0;
    text-align: center;
    min-height: 109px;
    /*width: 169px;*/
    margin-bottom: 3px;
    width: 49%;
}
.col-md-12.client .col-md-6:nth-child(2n+1){
    margin-right: 3px;

}
.col-md-12.client .col-md-6 a {
    font-size: 14px;
    color: #95979a;
    font-family: open sans;
    line-height: 1!important;
    text-align: center;
    display: block;
}
.col-md-6.col-xs-6.bond a:before{
    content: url(assets/images/bonds.png);
    padding-top: 20px;
    display: block;
}
.col-md-6.col-xs-6.credit a:before{
    content: url(assets/images/icon-credit.png);
    padding-top: 30px;
    display: block;
}
.col-md-6.col-xs-6.marine a:before{
    content: url(assets/images/icon-marine.png);
    padding-top: 30px;
    display: block;
}
.col-md-6.col-xs-6.motor a:before{
    content: url(assets/images/icon-motor.png);
    padding-top: 30px;
    display: block;
}
.col-md-6.col-xs-6.employ a:before{
    content: url(assets/images/icon-employ.png);
    padding-top: 30px;
    display: block;
}
.col-md-6.col-xs-6.insur a:before{
    content: url(assets/images/icon-insua.png);
    padding-top: 30px;
    display: block;
}
.col-md-6.col-xs-6.lia a:before{
    content: url(assets/images/icon-lia.png);
    padding-top: 30px;
    display: block;
}
.col-md-6.col-xs-6.health a:before{
    content: url(assets/images/icon-health.png);
    padding-top: 30px;
    display: block;
}

.col-md-6.no-padding.service-item-wrapper p{
    padding-right: 25px;
}
.col-md-6.no-padding.service-item-wrapper{
    width: 45% ;
}
.col-md-3.no-padding.service-item-wrapper{
    width: 27%;
    min-height: 180px;
}
.col-md-3.service-item-wrapper.buy {
    float: right;
}
.col-md-3.no-padding.service-item-wrapper.box-1 {
    float: right;
}
.col-md-4.no-padding.client {
    
    width: 35.6%;
    max-height: 445px;
}
.col-md-6.col-xs-6.contenthere{
    display: table;
}
.col-md-6.col-xs-6.contenthere a{
    display: table-cell;
    vertical-align: middle;
}

div.wpdreams_asl_container[id*="ajaxsearchlite"] {
    float: left;
    margin: 0;
    width: 45% !important;
	border-radius:20px;
	margin-top:5px !important;
}
.click-to-toggle {
    float: right;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

.inner-pages h3{font-weight:bold;font-size:16.5px;margin-bottom:3px;}
.inner-pages .oval {
    border: 1px solid #fff;
    border-radius: 2px;
    bottom: 10px;
    height: 90%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
}
.slider-content hr{margin:0px !important;width: 86%;}
.inner-pages{margin-bottom:10px;}
#menu-footer-bottom li:after{content:"|";}
#menu-footer-bottom li#menu-item-421:after{content:"";}
.page-id-204 .content-area ,.page-id-209 .content-area{font-size:14px;}
.Contact-us h3{color:#0078be;}
.Contact-us p {
    font-size: 14px;
    margin-bottom: 25px !important;
}
/*Custom Css End*/


    #ht-site-branding{
	    position: static !important;
	}
	#ht-site-navigation{
	     position: static !important;
	     width:100% !important;
	}
	.call a{
	    display:block !important;
	}
	.call {
        width: 65% !important;
    }

    .home-slider.wpb_column.vc_column_container.vc_col-sm-8 {
        padding-left: 15px;
    }
    .wpsisac-slick-slider.design-3 .slick-image-slide img{
        height:98.5%;
    }

    p{
        margin-bottom: 12px !important;
    }
    span.title{
        line-height:24px;
    }
    .single .ht-post-info{
        margin-bottom:0px;
    }
    #text-18 {
        margin-top: -20px;
    }
    .ht-footer.ht-footer4 {
        margin-top: 10px;
    }
    #text-8 {
        margin-top: -20px;
    }
    #text-9 {
        margin-top: -20px;
    }
    #text-10{
        margin-top: -20px;
    }
    #text-11{
        margin-top: -20px;
    }
    #text-12{
        margin-top: -20px;
    }
    #text-13{
        margin-top: -20px;
    }
    #text-17{
        margin-top: -20px;
    }
    #text-21{
        margin-top: -20px;
    }
    #text-22{
        margin-top: -20px;
    }
    
    .widget-area .widget-title{
        display:inline-block !important;
    }
    .promo-padding p{
        margin-bottom:3px !important;
    }
    .ht-site-info .textwidget {
        text-align: center;
    }
    .wpcf7-form-control.wpcf7-submit {
        margin-left: -50px;
    }
    ul.sub-menu{
        overflow:unset !important;
    }
    














@media screen and (min-width:1001px) and (max-width:1200px)
{
    p{
        margin-bottom: 15px !important;
    }
    span.title{
        line-height:24px;
    }
    .widget-area .widget_text a, .corporate-sidebar .widget_text a{
        word-break: break-all;
    }
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 p {
        margin-bottom: 18px !important;
    }
    .ht-menu{
        display:block !important;
    }
}



@media screen and (min-width:769px) and (max-width:1000px)
{
    p{
        line-height: 24px !important;
        margin-bottom: 20px !important;
        text-align: left !important;
    }
    span.title{
        text-align:left;
        line-height:24px;
    }
    #secondary .menu-abouts-us-container ul li{
        font-size: 12px;
        padding:0px 3px;
    }
    #secondary .menu-abouts-us-container ul li a {
        font-size: 13px;
    }
    .widget-area .widget_text li a .fa, .corporate-sidebar li a .fa{
        width: 19px;
        height: 19px;
        padding: 3px 4px;
        margin-right: 4px;
    }
    .widget-area .widget_text a, .corporate-sidebar .widget_text a{
        font-size:12px;
        word-break: break-all;
    }
    .vc_tta-tabs-list a{
        font-size: 12px;
        padding: 5px 3px !important;
    }
    #secondary .widget_nav_menu li{
        padding: 0 5px;
        font-size: 12px;
        padding-right: 0;
    }
    .widget_nav_menu li a{
        font-size: 12px;
    }
    .single .ht-post-info{
        margin-bottom:0px;
    }
    #secondary .widget_text .widget-title{
        font-size: 15px !important;
        padding: 0px 5px !important;
    }
    .textwidget {
        text-align: left;
    }
    input[type="submit"]{
        margin-left:30px;
    }
    .accordion .accordion-item{
        width:50%;
        padding:0px 25px;
        box-sizing:border-box;
        min-height:250px;
    }
    .proccess li{
        width:31%;
    }
    .accordion-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .corporate-sidebar .widget_text .widget-title{
        font-size: 15px !important;
        padding: 0px 5px !important;
    }
    #nav_menu-15 .widget-title {
        text-align: left;
    }
    #secondary{
        width:23%;
    }
    .wpcf7-form-control.wpcf7-submit {
        margin-left:50px;
    }
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 p {
        margin-bottom: 12px !important;
    }
    .promo-padding p {
        margin-bottom: 1px !important;
    }
    ul.sub-menu{
        overflow:unset !important;
    }
    #ht-site-navigation{
        position: absolute !important;
        width:100% !important;
        left:0;
        top:14px;
    }
    
    
    
    
}


@media screen and (min-width:1025px) and (max-width:1060px){
    .vc_tta-tabs-list a {
        font-size:15px;
        padding: 5px 5px !important;
    }
}


@media screen and (min-width:768px) and (max-width:1024px)
{
    ul.sub-menu{
        overflow:unset !important;
    }
    .widget-area .widget_text a, .corporate-sidebar .widget_text a {
        font-size: 12px;
        word-break: break-all;
    }
    .vc_tta-tabs-list a {
        font-size: 12px;
        padding: 5px 5px !important;
    }
    .corporate-sidebar .widget_text .widget-title {
        font-size: 15px !important;
        padding: 0px 5px !important;
    }
}





@media screen and (min-width:581px) and (max-width:768px)
{
    p{
        font-size: 15px !important;
        line-height: 24px !important;
        word-spacing: 0 !important;
        margin-bottom: 20px !important;
        text-align: left !important;
    }
    span.title{
        text-align:left;
        font-size:16px;
        line-height:24px;
    }
    div.wpdreams_asl_container[id*="ajaxsearchlite"] {
        margin-right: 25px !important;
        width:70% !important;
    }
    .accordion .accordion-item{
        width: 50%;
        padding:0px 10px;
        box-sizing:border-box;
        min-height:200px;
    }
    .proccess li{
        width: 65%;
    }
    .accordion-item img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .vc_tta-tabs-list a{
        padding: 7px 15px !important;
    }
    .wpcf7-form-control.wpcf7-submit {
        margin-left: 0px;
    }
    
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 p {
        margin-bottom: 12px !important;
    }
    ul.sub-menu{
        overflow:unset !important;
    }
    #ht-site-navigation{
        position: absolute !important;
        width:100% !important;
        left:0;
        top:14px;
    }
    
    
}






@media screen and (min-width:481px) and (max-width:580px)
{
    p{
        font-size: 15px !important;
        line-height: 24px !important;
        word-spacing: 0 !important;
        margin-bottom: 20px !important;
        text-align: left !important;
    }
    span.title{
        text-align:left;
        font-size:16px;
        line-height:24px;
    }
    .accordion .accordion-item {
        width: 100% !important;
        padding-right: 0;
        min-height:250px;
    }
    .accordion-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .proccess li{
        width: 65%;
    }
    .wpcf7-form-control.wpcf7-submit {
        margin-left: 0px;
    }
    
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 p {
        margin-bottom: 2px !important;
    }
    ul.sub-menu{
        overflow:unset !important;
    }
    #ht-site-navigation{
        position: absolute !important;
        width:100% !important;
        left:0;
        top:15px;
    }
    
    
    
    
}






@media screen and (max-width: 1200px){
	.ht-container{
		width: auto;
		padding: 0 15px;
	}

	.ht-slide-caption{
		width: 80%;
		margin-left: -40%;
	}
	#ht-site-branding{
	    position: static !important;
	}
	.ht-main-navigation ul{
	    padding: 0 0px;
	}
	.call a{
	    display:block !important;
	}
	.call {
        width: 65% !important;
    }
    .welcome-box{
        width: 45% !important;
    }
    .wpsisac-slick-slider.design-3 .slick-image-slide img{
        height:98.5%;
        object-fit:cover;
    }
	
	
	
	
	
}

@media screen and (max-width: 1000px){
    
    #ht-site-branding img {
        width:175px;
        max-width: 100%;
    }
    #ht-site-branding{
        left:15% !important;
        top: 22px !important;
        position:absolute !important;
    }
    .wpsisac-slick-slider.design-3 .slick-image-slide img{
        height:100%;
        object-fit:cover
    }
    .service-item-wrapper p{
        margin-bottom:10px;
    }
    a.read{
        margin-bottom: 15px !important;
    }
    .promo-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width:50% !important;
    }
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width:50% !important;
    }
    .buy-box .vc_custom_1512096454449{
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .welcome-box {
        width: 100% !important;
    }
	.toggle-bar{
	    top:8px !important;
	}
	div.wpdreams_asl_container[id*="ajaxsearchlite"] {
        margin-right:0px !important;
        width:70% !important;
    }
    
    
    
    
	.toggle-bar{
		display: block;
		position: absolute;
		top: 23px !important;
		left: 10px;
		height:35px;
		width: 40px;
		cursor: pointer;
		background :transparent !important;
	}

	.toggle-bar span{
		position: absolute;
		top: 50%;
		margin-top: -2px;
		height: 5px;
		left: 8px;
		right: 8px;
		background: #333;
		box-shadow: 0 10px 0 0 #333, 0 -10px 0 0 #333;
	}

	.ht-sticky-header #ht-masthead{
		position: static;
	}

	.ht-sticky#ht-masthead{
		height: 94px;	
	}
	.call a{
	    display:none !important;
	}
	



	.ht-sticky #ht-site-branding{
		padding: 15px 0;
	}

	.ht-sticky-header #ht-content{
		padding-top: 0;
	}

	.ht-main-navigation .ht-menu{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 90px;
		background: #0078be;
		z-index: 999;
		padding: 0px 20px 0px 0px;
	}

	.ht-main-navigation li{
		float: none;
		margin-left: 0;
		text-align: center;
	}

	.page-template-home-template .ht-main-navigation .current_page_item > a,
	.page-template-home-template .ht-main-navigation .current-menu-item > a,
	.page-template-home-template .ht-main-navigation .current_page_ancestor > a,
	.home.blog .ht-main-navigation .current_page_item > a,
	.home.blog .ht-main-navigation .current-menu-item > a,
	.home.blog .ht-main-navigation .current_page_ancestor > a,
	.ht-main-navigation a{
		color: #FFF;
	}

	.ht-main-navigation ul ul{
		position: static;
		padding: 0;
        margin-top: 0;
	}

	.ht-main-navigation ul ul ul{
		margin: 0;
	}

	#ht-team-section{
		padding-bottom: 30px;
	}

	.ht-team-member{
		width: 48%;
		margin-bottom: 30px;
	}
	#ht-site-branding{
	    left:15%;
        top: 22px !important;
        position: absolute !important;
	}
	#ht-site-branding ul li a{text-align:left !important;}
	.call{width:50% !important;float:right;margin-top:6px;}
		
}

@media screen and (max-width: 768px){
    
    .home-slider.wpb_column.vc_column_container.vc_col-sm-8 {
        padding-left: 0px;
    }
    
     div.wpdreams_asl_container[id*="ajaxsearchlite"] {
        margin-right:0px !important;
        width:70% !important;
    }
    
    #ht-site-branding img{
        width: 160px;
        max-width: 100%;
    }
    .promo-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width: 50% !important;
    }
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width: 50% !important;
    }
    #ht-back-top{
        height: 40px;
        width: 40px;
        line-height: 35px;
    }
    #ht-site-branding{
        top: 24px !important;
        left:15% !important;
        position: absolute !important;
    }
    .buy-box .vc_custom_1512096454449{
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .call a{
	    display:none !important;
	}
	.toggle-bar {
        top: 22px !important;
        left: 15px;
    }

    
    
	.ht-section-title,
	.ht-section-tagline{
		width: auto;
	}

	#ht-about-us-section .ht-container{
		display: block;
	}

	.ht-about-sec{
		width: auto;
		float: none;
		padding: 0;
		margin-bottom: 30px;
	}

	.ht-about-image{
		width: auto;
		float: none;
		padding: 0;
		text-align: center;
	}

	.ht-featured-post-wrap{
		margin-left: 0;
	}

	.ht-featured-post{
		float: none;
		margin: 0 auto 80px;
		width: 75%;
	}

	.ht-featured-post:last-child{
		margin-bottom: 0;
	}

	.ht-portfolio-cat-name-list{
		text-align: center;
	}

	.ht-service-left-bg{
		display: none;
	}

	.ht-service-posts{
		float: none;
		width: auto;
		padding: 0;
	}

	#ht-service-post-section{
		padding: 60px 0;
	}

	#ht-counter-section{
		background-size: cover;
		background-position: center !important;  
	}

	.ht-counter{
		width: 45%;
		margin-bottom: 60px;
	}

	#ht-counter-section{
		padding-bottom: 0;
	}

	.ht-blog-wrap{
		margin: 0;
	}

	.ht-blog-post{
		width: 75%;
		margin: 0 auto 30px;
		float: none;
	}

	.ht-blog-post img{
		width: 100%;
	}

	#ht-cta-section{
		background-size: cover;
		background-position: center !important;  
	}

	.ht-top-footer{
		margin-left: 0;
	}

	.ht-footer{
		width: 50%;
		margin: 0 0 30px;
		float: left;
	}

	.ht-footer:last-child{
		margin-bottom: 0;
	}

	.ht-slide-cap-title{
		font-size: 24px;
		font-size: 4vw;
		margin-bottom: 10px;
	}

	.ht-slide-cap-desc{
		font-size: 14px;
		font-size: 3vw;
	}

	#primary{
		width: auto !important;
		float: none !important;
		margin-bottom: 30px;
	}

	#secondary{
		width: auto !important;
		float: none !important;
		margin-bottom: 30px;
	}
	.welcome-box{width:100% !important;}
	.promo-box,.buy-box{width:49% !important;float:left;}
	h4.vc_tta-panel-title{font-size:15.5px;}
	.ht-main-navigation li{text-align:left;}
	.vc_tta-panel-body p img{display:block;margin:0 auto;float:none;}
	.home-slider .vc_column-inner {padding-left:0px !important;}
	#ht-site-branding{width:50% !important;}
	.call{width:100%;}
	.promo-box .vc_column-inner, .buy-box .vc_column-inner,.home-scroll .vc_column-inner{padding-left:15px !important;}
	   #ht-site-branding {
    left: 10%;
    position: relative;
    width: 50%  !important;
    }
    .oval{display:none;}
    .slider-content h4{font-size:24px !important;margin:0px !important;}
    .slider-content p{font-size:14px !important;}
    .slider-content hr{margin:0px !important;width:60% !important;}

}

@media screen and (max-width: 580px)
{
    
    .home-slider.wpb_column.vc_column_container.vc_col-sm-8 {
        padding-left: 0px;
    }
    div.wpdreams_asl_container[id*="ajaxsearchlite"] {
        margin-right:25px !important;
    }
    .call a{
	    display:none !important;
	}
    .promo-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width: 100% !important;
    }
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width: 100% !important;
    }
    #ht-site-branding {
        left: 22% !important;
        position: absolute !important;
        top: 27px !important;
    }
    .ht-footer {
        width:100%;
    }
    
    .toggle-bar{
        left:0px !important;
        width:43px;
        top: 22px !important;
        left: 10px !important;
    }
    .toggle-bar span{
        height:4px;
    }
    .entry-title{
        margin: 5px 0px !important;
    }
    .entry-excerpt p{
        font-size: 14px;
        line-height: 23px;
    }
    a.read{
        font-size: 13px;
        margin-top: 4px;
    }
    #ht-top-footer{
        padding:25px 0px;
    }
    #ht-back-top{
        height: 35px;
        width: 35px;
        line-height: 30px;
    }
    .menu-footer-bottom-container {
        width: 100%;
        float: left;
    }
    .menu-footer-bottom-container ul{
        margin:0px;
        width:100%;
        float:left;
    }
    #ht-bottom-footer{
        padding: 10px 0px 20px 0px;
    }
    #ht-site-branding img {
    width: 150px;
    max-width: 100%;
    }
    .promo-box h3{
        margin-bottom: 10px;
    }
    .buy-box .vc_custom_1512096454449{
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .textwidget{
        padding:10px 0px;
        width: 100%;
        float: left;
    }
    
    
    
	#ht-home-slider-section .bx-wrapper .bx-controls-direction a,
	.ht-testimonial-wrap .bx-wrapper .bx-controls-direction a{
		display: none;
	}

	.ht-team-member-wrap{
		margin-left: 0;
	}

	.ht-team-member{
		width: 75%;
		float: none;
		margin: 0 auto 30px;
	}

	.ht-team-counter-wrap{
		margin-left: 0;
	}

	.ht-counter{
		width: 75%;
		float: none;
		margin: 0 auto 60px;
	}

	.ht-portfolio{
		width: 50%;
		padding: 4px;
	}
	.welcome-box,.promo-box,.buy-box{width:100% !important;}
	h4.vc_tta-panel-title{font-size:15.5px;}
	.ht-main-navigation li{text-align:left;}
	.vc_tta-panel-body p img{display:block;margin:0 auto;float:none;}
	.home-slider .vc_column-inner {padding-left:0px !important;}
	div.wpdreams_asl_container[id*="ajaxsearchlite"]{width:100% !important;}
	.call a{display:none;}
	.promo-box .vc_column-inner, .buy-box .vc_column-inner,.home-scroll .vc_column-inner{padding-left:15px !important;}
	#ht-site-branding {
    left: 16%;
    position: absolute;
    top: 20px;
    width: 35% !important;
    }
	#ht-masthead{height:95px;}
    div.wpdreams_asl_container[id*="ajaxsearchlite"] {
        float: right;
        margin: 0;
        position: absolute;
        right: 15px;
        width:40% !important;
   }
   .toggle-bar{left:3%;}
   #ht-site-branding{width:50% !important;}
   .slider-content h4{font-size:20.5px !important;margin:0px !important;}
    .slider-content p{font-size:14px !important;}
    .slider-content hr{margin:0px !important;width:47% !important;}
    .slider-content{padding:0px !important;}
    .vc_tta-panel-body{padding:25px 10px !important;}





}

@media screen and (max-width: 480px){
    
    p{
        font-size: 15px !important;
        line-height: 24px !important;
        word-spacing: 0 !important;
        margin-bottom: 20px !important;
        text-align: left !important;
    }
    span.title{
        text-align:left;
        font-size:16px;
        line-height:24px;
    }
    
    .home-slider.wpb_column.vc_column_container.vc_col-sm-8 {
        padding-left: 0px;
    }
    
    div.wpdreams_asl_container[id*="ajaxsearchlite"] {
        margin-right:25px !important;
    }
    
    #ht-site-navigation{
        position: absolute !important;
        width:100% !important;
        left:0;
        top:15px;
    }
    .call a{
	    display:none !important;
	}
    .promo-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width:100% !important;
    }
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 {
        width:100% !important;
    }
    
    .toggle-bar{
        left:0px !important;
        width:43px;
        top: 20px !important;
        left:10px !important;
    }
    .toggle-bar span{
        height:4px;
    }
    .entry-title{
        margin: 5px 0px !important;
    }
    .entry-excerpt p{
        font-size: 14px;
        line-height: 23px;
    }
    a.read{
        font-size: 13px;
        margin-top: 4px;
    }
    #ht-top-footer{
        padding:25px 0px;
    }
    #ht-back-top{
        height: 35px;
        width: 35px;
        line-height: 30px;
    }
    .menu-footer-bottom-container {
        width: 100%;
        float: left;
    }
    .menu-footer-bottom-container ul{
        margin:0px;
        width:100%;
        float:left;
    }
    ul#menu-footer-bottom li{
        width:100%;
        display:block;
    }
    #menu-footer-bottom li::after{
        display:none;
    }
    #ht-bottom-footer{
        padding-top: 20px;
        width: 100%;
        float: left;
        padding-top: 6px;
        padding-bottom: 20px;
    }
    .textwidget{
        padding:10px 0px;
        width: 100%;
        float: left;
    }
    #ht-site-branding img {
        width: 130px;
        max-width: 100%;
    }
    #ht-site-branding {
        left: 22% !important;
        position: absolute !important;
        top: 30px !important;
    }
    .ht-footer {
        width:100%;
    }
    .proccess li, .accordion .accordion-item {
        width: 100% !important;
        padding-right: 0;
    }
    .wpcf7-form-control.wpcf7-submit {
        margin-left: 0px;
    }
    .buy-box.wpb_column.vc_column_container.vc_col-sm-3 p {
        margin-bottom: 2px !important;
    }
    ul.sub-menu{
        overflow:unset !important;
        width:100% !important;
    }
    
    
        
    
    
}
     
    
	.ht-blog-post,
	.ht-featured-post{
		width: auto;
	}

	.ht-team-member-wrap{
		margin-left: 0;
	}

	.ht-team-member,
	.ht-counter{
		width: auto;
		float: none;
	}

	.ht-testimonial-excerpt{
		width: auto;
	}

	.ht-testimonial-excerpt .fa-quote-left{
		left: 0;
	}

	.ht-cta-buttons a{
		display: block;
		margin: 0 0 15px;
	}

	.ht-post-info{
		float: none;
		width: auto;
		margin-bottom: 20px;
	}

	.ht-post-wrapper{
		padding-left: 0; 
	}

	h4.vc_tta-panel-title{font-size:15.5px;}
	.ht-main-navigation li{text-align:left;}
	.vc_tta-panel-body p img{display:block;margin:0 auto;float:none;}
	.home-slider .vc_column-inner {padding-left:0px !important;}
	#ht-site-branding{width:50% !important;}
	.call{width:100%;}
	.promo-box .vc_column-inner, .buy-box .vc_column-inner,.home-scroll .vc_column-inner{padding-left:15px !important;}
	.call a{display:none;}
#ht-site-branding{
    left: 22%;
    position: absolute;
    top: 20px;
    width: 35% !important;
}
#ht-masthead{height:95px;}
	div.wpdreams_asl_container[id*="ajaxsearchlite"] {
    border: 1px solid;
    float: right;
    height: 32px;
    margin-right:-40px;
    /*position: absolute;*/
    right: -20px;
}
.slider-content h4{font-size:17.5px !important;margin:0px !important;}
.slider-content p{font-size:13px !important;line-height:17px;}
.slider-content hr{margin:0px !important;width:60% !important;}
.slider-content{padding:0px !important;}
.ht-main-header{margin-bottom:15px !important;}
.vc_tta-panel-body{padding:25px 10px !important;}

div#ht-content{
    margin-top:10px;
    
}